.about {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -80px;
    font-family: "Gajraj One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.johanna {
    width: 420px;
    height: 500px;
}

.erin {
    width: 450px;
    height: 500px;
}

.about-header {
    display: flex;
    align-items: center;
}

.body-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
}

.divider {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10%;
}

.portfolio-banner {
    position: relative;
    margin: 20px 0;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consultation-link {
    display: block;
    text-decoration: none;
    width: 100%;
}

.mm {
    flex-direction: row;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    font-size: 80px;
    margin: 20px;
}

h1 {
    font-size: 128px;
    margin-bottom: 10px;
}